In [32]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans,DBSCAN
import scipy.cluster.hierarchy as sch
from sklearn.cluster import AgglomerativeClustering

In [33]:
data=pd.read_csv('EastWestAirlines1.csv')

In [34]:
data.head()

,ID#,Balance,Qual_miles,cc1_miles,cc2_miles,cc3_miles,Bonus_miles,Bonus_trans,Flight_miles_12mo,Flight_trans_12,Days_since_enroll,Award?
0,1,28143,0,1,1,1,174,1,0,0,7000,0
1,2,19244,0,1,1,1,215,2,0,0,6968,0
2,3,41354,0,1,1,1,4123,4,0,0,7034,0
3,4,14776,0,1,1,1,500,1,0,0,6952,0
4,5,97752,0,4,1,1,43300,26,2077,4,6935,1

In [35]:
data.shape

(3999, 12)

In [ ]:
dendogram=sch.dendrogram(sch.linkage(data,method='single'))

In [ ]:
### hierarchical clustring
cluster_h=AgglomerativeClustering(n_clusters=50,affinity = 'euclidean', linkage = 'single')

In [ ]:
y_h=cluster_h.fit_predict(data)

In [ ]:
cluster=pd.DataFrame(y_h,columns=['cluster'])

In [ ]:
data['H_cluster']=cluster

In [ ]:
data

In [ ]:
data['H_cluster'].value_counts()

In [ ]:
#kmeans clustring

In [ ]:
kmean_c=KMeans(n_clusters=8)

In [ ]:
kmean_c.fit_transform(data)

In [ ]:
lable=kmean_c.labels_

In [ ]:
kmean_c_lable=pd.DataFrame(lable)

In [ ]:
data['cluster']=kmean_c_lable

In [ ]:
data

In [ ]:
data['cluster'].value_counts()

In [31]:
#### using db scan